<div class="form-body">
    <div>
        <a href="/" class="main-nav-link"><h1 class="fitbrary">Fitbrary</h1></a>
    </div>

    <div class="library-container">
        <h2 class="sub-head">Edit {{workout.workoutName}}</h2>
        <p class="show-text">Created by: {{user.userName}}</p>
        <div class="full-form">
            <form class="new-form"action='/users/{{user._id}}/workouts/{{workout._id}}?_method=PUT' method="POST">
                <div>
                    <div class="form-input">
                        <label for="workoutName" class="form-text">Name of the workout</label>
                        <input type="text" name="workoutName" value="{{workout.workoutName}}" required/>
                    </div>

                    <div class="form-input">
                        <label for="goal" class="form-text">Workout Goal</label>
                        <input type="text" name="goal" value="{{workout.goal}}"required/>
                    </div>

                    <div class="form-input">
                        <label for="notes" class="form-text">Notes</label>
                        <input type="text" name="notes" value="{{workout.notes}}" />
                    </div>
                </div>

                <div class="form-button-container">
                    <input class="library-button" type="submit" value="Update">
                </div>
            </form>
        </div>
        <div class="button-container">
            <form action="/users/{{user._id}}/workouts/{{workout._id}}">
                <input class="library-button" type="submit" value="Cancel" />
            </form>
        </div>
    </div> 
</div>