<div>
    <a href="/"><h1>Fitbrary</h1></a>
    <h2>Edit {{workout.workoutName}}</h2>
</div>
<div>
    <form class="new-form"action='/workouts/{{workout._id}}?_method=PUT' method="POST">
        <div>
            <div class="form-input">
                <label for="workoutName">Name of the workout</label>
                <input type="text" name="workoutName" value="{{workout.workoutName}}" required/>
            </div>

            <div class="form-input">
                <label for="createdBy">Created By</label>
                <input type="text" name="createdBy" value="{{workout.createdBy}}" required/>
            </div>

            <div class="form-input">
                <label for="goal">Workout Goal</label>
                <input type="text" name="goal" value="{{workout.goal}}"required/>
            </div>

            <div class="form-input">
                <label for="description">Description</label>
                <input type="text" name="description" value="{{workout.description}}" />
            </div>
        </div>

        <div class="">
            <input class="button" type="submit" value="Update">
            
        </div>
    </form>
    <div>
        <form action="/workouts">
            <input class="button" type="submit" value="Cancel" />
        </form>
    </div>
</div>