<div>
    <a href="/"><h1>Fitbrary</h1></a>
    <h2>Edit {{workout.workoutName}}</h2>
    <p>Created by: {{user.userName}}</p>
</div>
<div>
    <form class="new-form"action='/users/{{user._id}}/workouts/{{workout._id}}?_method=PUT' method="POST">
        <div>
            <div class="form-input">
                <label for="workoutName">Name of the workout</label>
                <input type="text" name="workoutName" value="{{workout.workoutName}}" required/>
            </div>

            <div class="form-input">
                <label for="goal">Workout Goal</label>
                <input type="text" name="goal" value="{{workout.goal}}"required/>
            </div>

            <div class="form-input">
                <label for="notes">Notes</label>
                <input type="text" name="notes" value="{{workout.notes}}" />
            </div>
        </div>

        <div class="">
            <input class="button" type="submit" value="Update">
            
        </div>
    </form>
    <div>
        <form action="/users/{{user._id}}/workouts/{{workout._id}}">
            <input class="button" type="submit" value="Cancel" />
        </form>
    </div>
</div>