<div class="form-body">
    <div>
        <a href="/" class="main-nav-link"><h1 class="fitbrary">Fitbrary</h1></a>
    </div>
    
    <div class="library-container">
        <h2 class="sub-head">Edit {{user.userName}}'s Profile</h2>
        <div class="full-form">
            <form class="new-form"action='/users/{{user._id}}?_method=PUT' method="POST">
                <div class="form-input">
                    <label for="userName" class="form-text">User name</label>
                    <input type="text" name="userName" value="{{user.userName}}" required/>
                </div>

                <div class="form-input">
                    <label for="firstName" class="form-text">First name</label>
                    <input type="text" name="firstName" value="{{user.firstName}}" required/>
                </div>

                <div class="form-input">
                    <label for="lastName" class="form-text">Last name</label>
                    <input type="text" name="lastName" value="{{user.lastName}}" required/>
                </div>

                <div class="form-input">
                    <label for="email" class="form-text">Email</label>
                    <input type="text" name="email" value="{{user.email}}" />
                </div>

                <div class="form-button-container">
                    <input class="library-button" type="submit" value="Update Profile">
                </div>
            </form>
        </div>
        <div class="button-container">
            <form action="/users">
                <input class="library-button" type="submit" value="Cancel" />
            </form>
        </div>
    </div>
</div> 